# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
.vs/
.vscode/
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Angular
node_modules/
dist/
tmp/
out-tsc/
.angular/
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings/
.env
.env.local

# AWS
aws-lambda-tools-defaults.json
*.zip
deployment-template.json

# IDE
.idea/
*.sln.iml 