/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/purple-green.css';

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
  color: rgba(255, 255, 255, 0.87);
}
